/* MUST MAKE CHANGES- ONLY IN TEMPLATE FORM*/

:root {
  --default: #fff;
  --default-dark: #13293d;
  --default-border-radius: 50px;
}

body {
  font-size: 16px;
  display: block;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

h3 {
  display: block;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--default-dark);
  color: var(--default);
}

nav {
  display: flex;
  background-color: #d8a47f;
}

nav a {
  color: var(--default-dark);
  padding: 14px 20px;
  text-align: center;
}

nav a:hover {
  background-color: var(--default);
}

/*main {
    display: flex;
    flex-wrap: wrap;
  }*/

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--default-dark);
  color: var(--default);
  margin-top: auto;
}

/*
.titles {
  background-color: var(--default);
  border-right: 3px solid maroon;
  display: inline-block;
  width: 200px;
  height: 200px;
}
*/

span {
  background-color: var(--default);
  border-right: 3px solid maroon;
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: right;
  padding-right: 20px;
}

.content {
  padding: 10px;
  flex: 0 0 150px;
  margin: 20px;
  display: block;
}

.card > header {
  border-radius: var(--default-border-radius) var(--default-border-radius) 0px
    0px;
  padding: 20px;
}

.card > p {
  text-align: center;
}

.card > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
