/* MUST MAKE CHANGES- ONLY IN TEMPLATE FORM*/

:root {
  --default: #fff;
  --default-dark: #13293d;
  --default-border-radius: 50px;
}

body {
  font-size: 16px;
  display: block;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  display: block;
  background-color: black;
  padding: 5px;
  margin:auto;
  float: left;
  font-size: 2.5rem;
  justify-content:
}

header {
  padding: 40px;
  background: var(--default-dark);
  color: var(--default);
}

nav {
  display: block;
  float: right;
  justify-content: flex-end;
}

nav a {
  color: var(--default-dark);
  padding: 14px 20px;
  color:white;
}

nav a:hover {
  background-color: var(--default);
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: var(--default-dark);
  color: var(--default);
  margin-top: auto;
}

span {
  background-color: var(--default);
  border-right: 3px solid maroon;
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

.content {
  padding: 10px;
  flex: 0 0 150px;
  margin: 20px;
  display: block;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
