/* MUST MAKE CHANGES- ONLY IN TEMPLATE FORM*/

:root {
  --default: #fff;
  --default-dark: #13293d;
  --default-border-radius: 50px;
}

body {
  font-size: 16px;
  display: block;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  display: flex;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(62, 48, 71);
  padding: 1px;
  margin: 0px;
  font-size: 2.5rem;
}

header {
  padding: 40px;
  background: rgb(12, 24, 49);
  color: white;
}

nav {
  display: block;
  float: right;
  justify-content: flex-end;
}

nav a {
  padding: 14px 20px;
  color: white;
}

nav a:hover {
  background-color: rgb(145, 248, 234);
}

.subtitle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-image: linear-gradient(65deg, #695775, #0c1831);
  background-color: #695775;
  color: white;
  text-align: right;
  /* position: relative; */
}

section {
  display: flex;
}

section h2 {
  border-right: 2px solid currentColor;
  font-size: 30px;
  text-align: end;
  color: black;
  flex-basis: 10ch;
  flex-shrink: 0;
}

div {
  display: flex;
  justify-content: space-between;
}

aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background: #0c1831;
  color: none;
  margin-top: auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}

img {
  display: block;
  width: 100%;
}

.cards a {
  display: block;
}

.cards {
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
