/* MUST MAKE CHANGES- ONLY IN TEMPLATE FORM*/

:root {
  --default: #fff;
  --default-dark: #13293d;
  --default-border-radius: 50px;
}

body {
  font-size: 16px;
  display: block;
  min-height: 100vh;
  justify-content: flex-start;
}

h1 {
  display:block;
  float: top;
  width: 300px;
  border-radius: 5px;
  background-color: rgb(62, 48, 71);
  padding: 5px;
  margin:0px;
  font-size: 2.5rem;
}

header {
  padding: 40px;
  background: rgb(12, 24, 49);
  color: white;
}

nav {
  display: block;
  float: right;
  justify-content: flex-end;
}

nav a {
  padding: 14px 20px;
  color:white;
}

nav a:hover {
  background-color: rgb(145, 248, 234);
}

h2 {
height: 150px;
width: auto;
margin: auto;
background-color: rgb(105, 87, 117);
color:white;
display: block;
text-align: right;
position: relative;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background:  rgb(12, 24, 49);
  color: none;
  margin-top: auto;
}

span {
  background-color: var(--default);
  border-right: 3px solid rgb(96, 76, 109);
  display: inline-block;
  width: 200px;
  height: 200px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  padding-right: 20px;
}

/* .blur {
  filter: blur(10px);
} */

.content {
  padding: 10px;
  flex: 0 0 150px;
  margin: 20px;
  display: flex;
  flex-wrap:wrap;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
